include mixins.pug
doctype html
html(lang='ru')
    +dev_head('certificate')

    body
        .wrapper
            .certificate-holder
                .certificate-body
                    img(src='./i/certificate-mazella.png?_ijt=noegrrklcm2udkbquv7ba6fqlp')
                    +cert('Svetlana Solodovnikova', 'Core Fundamentals, Triangle', 'Simushka Academy', '2-4 November 2020')
