$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-info: "\e926";
$icon-chevron_left: "\e924";
$icon-chevron_right: "\e925";
$icon-reload: "\e923";
$icon-sbold: "\e922";
$icon-sround: "\e921";
$icon-renew: "\e919";
$icon-lollipop: "\e918";
$icon-arrow_right: "\e90d";
$icon-camera: "\e91e";
$icon-phone: "\e91d";
$icon-navigator: "\e91c";
$icon-smy: "\e91a";
$icon-scommunity: "\e91b";
$icon-seducation: "\e91f";
$icon-smarket: "\e920";
$icon-fb: "\e915";
$icon-in: "\e916";
$icon-vk: "\e917";
$icon-help: "\e900";
$icon-house: "\e901";
$icon-az: "\e902";
$icon-label: "\e903";
$icon-diamond: "\e904";
$icon-detective: "\e905";
$icon-bookmark: "\e906";
$icon-close: "\e907";
$icon-star: "\e908";
$icon-calendar_check: "\e909";
$icon-calendar: "\e90a";
$icon-catalog: "\e90b";
$icon-cart: "\e90c";
$icon-fire: "\e90e";
$icon-search: "\e90f";
$icon-percent: "\e910";
$icon-rocket: "\e911";
$icon-timer: "\e912";
$icon-house_check: "\e913";
$icon-whatsup: "\e914";

